@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

.navbar__logo {
    font-size: 30px;
    font-weight: bolder;
}

.navbar__logo img {
    width: 25px;
}

.navbar__logo a:hover {
    color: #0061f2;
    text-decoration: none;
}

.navbar__input {
    width: 75% !important;
}

.navbar__button {
    width: 15%;
}

.spinner {
    height: 90vh;
}

.profile__logo {
    width: 45px;
    float: right;
}

.react-icons {
    /* padding-top: 1px; */
    vertical-align: text-top;
}
